---
import { Image } from "astro:assets"
import Button from "./Button.astro"
import astroLogo from '@assets/astro-logo.png'
---

<style>
  .welcome-text {
    background: linear-gradient(0deg, rgba(255,255,255, 0.4),rgba(255,255,255, 0.4)), linear-gradient(90.01deg, #e59gcff 50.01%, #9cb2ff 100%);

  }
</style>

<div class="max-w-4xl pt-20 text-left">
  <h1 class="text-2xl font-bold leading-none tracking-tight text-[#18122B] sm:mt-6 sm:text-5xl md:text-6xl">
    Open-source extending Nx
  </h1>
  <h2 class="mt-6 text-base leading-8 font-medium text-[#393053]">Nx is a build system with built-in tooling and advanced CI capabilities . It helps you maintain and scale monorepos, both locally and on CI.
  </h2>
  <div class="mt-4 flex items-center gap-x-6">
    <a title="Contact us" class="group relative inline-flex opacity-100 focus:outline-none disabled:opacity-80 disabled:cursor-not-allowed transition" href="https://nx.app/enterprise?utm_source=nx.dev&amp;utm_medium=hero">
      <span class="flex h-full w-full items-center justify-center whitespace-nowrap rounded-md font-medium shadow-sm transition border border-slate-300 dark:border-slate-700 dark:bg-[#18122B] dark:text-white text-slate-700  group-hover:bg-slate-50 dark:group-hover:bg-slate-700 group-focus:ring-2 group-focus:ring-blue-500 dark:group-focus:ring-sky-500 focus:ring-offset-2 space-x-4 px-4 py-2 text-lg">
        Get started
      </span>
    </a>
    <a href="" class="group  relative inline-flex opacity-100 focus:outline-none disabled:opacity-80 disabled:cursor-not-allowed transition">
      <span class="flex h-full dark:text-white w-full items-center justify-center whitespace-nowrap rounded-md border border-transparent font-medium shadow-sm transition bg-blue-500 dark:bg-[#393053] text-[#68b2a0] group-hover:bg-[#2c6975] dark:group-hover:bg-[#fff] group-focus:ring-2 group-focus:ring-blue-500 dark:group-focus:ring-sky-500 focus:group-ring-offset-2 space-x-4 px-4 py-2 text-lg">Contact us</span>
    </a>


  </div>

</div>


